header{
    font-family: Arial;
    font-size: 100%;
    background: linear-gradient(darkorange,orange,red);
    width: 100%;
    color:white;
    text-align: center;
    padding: 2% 0px 2% 0px;
    margin: 0px;
}

section {
    float:left;
    width: 70%;
    padding: 0px 0px 0px 3%;
    margin: 0px;
}

section>p{
    color:balck;
    text-align: left;
    font-family: Arial;
}

nav{
    float:right;
    width: 20%;
    text-align: right;
    font-family: Arial;
}

li a:hover{
    text-align: right;
    background-color: darkorange;
    color:white;
    font-weight: bolder ;
    font-family: Arial;
    padding: 1%;
}

nav>ul{
    list-style-type: none;
    line-height: 200%;
}

footer{
    background: linear-gradient(red,orange,darkorange);
    font-size: 80%;
    width: 100%;
    margin: 0px;
    padding: 1% 0px 1% 0px;
    display: block;
    clear: both;
    color:white;
    font-family: Arial;
    font-size: 80%;
    text-align: center;
}